<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Power_Mplayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Power_Mplayer.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="MplayerExe" serializeAs="String">
                <value>.\mplayer.exe</value>
            </setting>
            <setting name="SrtForceUTF8" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SubFont" serializeAs="String">
                <value>.\mplayer\subfont.ttf</value>
            </setting>
            <setting name="SubEncoding" serializeAs="String">
                <value>BIG5</value>
            </setting>
            <setting name="SubAutoScale" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SubASS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubChineseTrans" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubFontTextScale" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AO" serializeAs="String">
                <value>dsound</value>
            </setting>
            <setting name="Audio_Softvol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Audio_SoftvolMax" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="VO" serializeAs="String">
                <value>directx</value>
            </setting>
            <setting name="Video_DR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMedia" serializeAs="String">
                <value />
            </setting>
        </Power_Mplayer.Properties.Settings>
    </userSettings>
</configuration>